* {
    font-family: 'Nanum Pen Script', cursive;    
}
img {
    border-radius: 70%;
    margin-left: 5px;
}

.wrapperDiv{ 
    background-color:#005aca;
}

@font-face {
    font-family: MyFirstFont;
    src: url("../fonts/KRHaHa.ttf");
}

h2.headerText {
    /* display: block; */
    margin: 0;
    padding: 7px;
    font-size: 3em;
    float:left;
}

h2.headerText:hover {
    font-size: 3em;
    font-family: MyFirstFont;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
     0% { transform: translate( 1px, 1px) rotate( 0deg); }
    10% { transform: translate(-1px,-2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate( 1deg); }
    30% { transform: translate( 3px, 2px) rotate( 0deg); }
    40% { transform: translate( 1px,-1px) rotate( 1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate( 0deg); }
    70% { transform: translate( 3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px,-1px) rotate(-deg); }
    90% { transform: translate( 1px, 2px) rotate( 0deg); }
   100% { transform: translate( 1px,-2px) rotate(-1deg); }
}

.containerHeader{
    margin: 0 auto;
    width: 800px;
    padding-left: 7%;
}

#bigFunnyBtn {
    position: absolute;
    top: -200px;
    left: 200px;
    height: 350px;
    width: 350px;
    /* display: flex; */
    align-items: center;
    justify-content: left;
    margin: 25%;
    display: grid;
    padding: 40px;
    font-size: 2.92rem;
    border: 20px solid lightgray;
    border-radius: 350px;   
}

.chuckImg {
    position: absolute;
    left: 10px;
    top:   200px
}

#wrapper {
    height: 100%;
    align-items: left;
    justify-content: left;
    display: inline-table;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 1px solid black;
    background-color: #005aca;
}
[type="checkbox"]+span:not(.lever) {
    font-size: 1.5rem;
    color: black;
}

#filterHeader {
    font-size: 3.92rem;
    color: black;
}
#filterContainer {
    margin-left: 50px;
    background: transparent;
}

#allthejokes {
    font-size: 20px;
    word-wrap: break-word;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    padding: 35px 24px 40px 21px;
    width: 120%;
    background-color: white;
    border: ridge 10px gold;
}

.col {
    box-sizing: border-box;
}

#filterBtn {
    background-color: white;
    color: black;
    font-family: 'Nanum Pen Script', cursive;   
    font-size: 2.0rem;
    border:solid 3px black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px .75rem;
    min-height: 1px;
}

#filterBtn:hover { 
    font-size: 2em; 
    color: red;
}

button .overWriteTxt {
    display: none; 
}
button:hover .txt {
    display: none; 
}
button:hover .overWriteTxt {
    display: inline; 
}

.dropdown-content {
    background-color: #fff;
    margin: 40px;
    display: none;
    min-width: 100px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

element.style {
    display: block;
    width: 219.375px;
    left: 21.25px;
    top: 120px;
    height: 350px;
    transform-origin: 0px 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    background-color: none;
}
.dropdown-content li {
    clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    padding: 10px;
}